**/7drl-game-jam/[Tt]emp/**
**/7drl-game-jam/[Bb]uild/**
**/7drl-game-jam/[Bb]uilds/**
**/7drl-game-jam/[Ll]ogs/**
**/7drl-game-jam/UserSettings/**
7drl-game-jam/UserSettings/EditorUserSettings.asset
7drl-game-jam/UserSettings/Layouts/default-2021.dwlt
bwj-game/UserSettings/Layouts/default-2021.dwlt
