**/7drl-game-jam/[Tt]emp/**
**/7drl-game-jam/[Bb]uild/**
**/7drl-game-jam/[Bb]uilds/**
**/7drl-game-jam/[Ll]ogs/**
**/7drl-game-jam/UserSettings/**
bwj-game/UserSettings/EditorUserSettings.asset
bwj-game/UserSettings/Layouts/default-2021.dwlt
